files:
    "/etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.httpd.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            /var/log/httpd/* {
                size 10M
                missingok
                notifempty
                rotate 5
                sharedscripts
                compress
                dateext
                dateformat -%s
                create
                olddir /var/log/httpd/rotated
            }
    "/etc/cron.daily/cron.reload.httpd.conf":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/sh
            /sbin/service httpd reload > /dev/null 2>/dev/null || true

